.controls{
    display: flex;
    align-items: center;
    height: 100%;
}
    .controls .time-display{
        user-select: none;
        font-size: 0.95rem;
        color: #eee;

        width: 120px;
        height: 100%;
        background: #2a5069;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .controls .button-container{
        flex-grow: 1;

        display: flex;
        justify-content: center;
    }   
        .controls .button-container button{
            background: none;
            color: white;
            user-select: none;
            width: 20px;
            height: 20px;
            padding : 0;
            transition: 0.15s;
        }
        .controls .button-container button+button{
            margin-left: 10px;
        }
        .controls .button-container button:hover{
            box-shadow: inset 1px 1px 6px #111;
        }

        .controls .button-container button.prev{
            background: url(../img/prev.svg);
        }
        .controls .button-container button.play{
            background: url(../img/play.svg);
        }
            .controls .button-container button.play.pause{
                background: url(../img/pause.svg);
            }
        .controls .button-container button.next{
            background: url(../img/next.svg);
        }