.menu{
    padding : 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
}
.menu .header-text{
    margin-right: 10px;
}
.menu .edit-text{
    color: rgb(50, 180, 174);
    text-decoration: underline;
    cursor: e-resize;
}
    .menu .big-btn{
        display: inline-flex;
        width: 200px;
        height: 45px;
        box-sizing: border-box;
        margin: 5px;
        background: none;
        color: #eee;

        cursor: pointer;
        justify-content: center;
        align-items: center;
        font-size: 14px;

        border: 2px solid #eee;
        border-radius: 6px;
        transition: 0.2s;
    }
        .menu .big-btn:hover{
            background: #eee;
            color: rgb(60, 70, 85);
        }
        
    .menu .small-btn{
        border: 1px solid #eee;
        background: rgb(60, 70, 85);
        color: #eee;
    }

    .menu .block-name-wrapper{
        width: 90%;

        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
    }
        .menu .block-name-wrapper .block-name-input{
            width: 150px;
            height: 30px;
            border-radius: 5px;
            border: 0;
            padding: 0 10px;
            box-sizing: border-box;

            font-size: 15px;
            background:rgb(50, 55, 65);
            color: #eee;
        }

    .menu .block-info-wrapper{
        width: 90%;
        text-align: center;
    }
        .menu .block-info-wrapper>div{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

    .menu .marker-button{
        margin-top: 20px;
        width: 220px;
        height: 35px;
        border-radius: 3px;
        font-size: 14px;
        margin-bottom: 20px;
        
        background: rgb(72, 130, 185);
        box-shadow:  1px 1px 4px #000;
        color: white;
        transition: 0.2s;
    }
        .menu .marker-button:hover{
            background:  rgb(106, 158, 211);
        }
        .menu .marker-button.inactive{
            background: rgb(35, 60, 82);
            color: #aaa;
        }  


    .menu .marker-list-wrapper{
        width: 90%;
        border-top: 1px solid #aaa;
        padding : 20px 0;
    }
        .menu .marker-list-wrapper select{
            width: 100%;
            height: 30px;
            margin-bottom: 20px;
            background: #ddd;
            color: #000;
            outline: 0;
            border: 0;
            border-radius: 3px;
            box-shadow: 1px 1px 5px #000;
            transition: 0.15s;
        }
        .menu .marker-list-wrapper select:hover{
            background: #eee;
        }
            .menu .marker-effect-wrapper>div{
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }

        .menu .marker-list-wrapper .button-container{
            text-align: right;
        }
            .menu .marker-list-wrapper .button-container .del-button{
                padding: 0 ;
                width: 18px;
                height: 18px;
                border-radius: 3px;
                color: rgb(240, 65, 59);
                font-size: 14px;
                transition: 0.15s;
                background: white;
            }
