.effect-menu{
    width: 100%;
    height: 100%;

}
    .effect-menu .tap-container{
        width: 100%;
        display: flex;
    }
        .effect-menu .tap-container div{
            flex-grow: 1;
            max-width: 93px;
            height: 45px;
            color: #ccc;
            text-align: center;
            line-height: 40px;
            background: #333;
            cursor: pointer;
            transition: 0.15s;
        }
        .effect-menu .tap-container div+div{
            border-left: 1px solid #555;
        }
        .effect-menu .tap-container div:hover{
            background: rgb(90, 90, 100);
        }
        .effect-menu .tap-container div.select{
            background: rgb(60, 70, 85);
        }
