.viewport-wrapper canvas{
    border: 1px solid #333;
}
    .viewport-wrapper:fullscreen>div{
        width: 100%;
        height: 100%;
    }
    .viewport-wrapper:fullscreen canvas{
        width: 100%;
        height: 100%;
    }