.block{
    position: absolute;
    height: 47px;
    background-color: #d1e1ff;
    border-top: 1px solid #bac1ce;
    border-left: 1px solid #bac1ce;
    border-radius: 2px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 2px;
    line-height: 47px;
    font-size: 14px;
    user-select: none;
    white-space: nowrap;
    color: #253035;
    transition: background-color 0.15s, box-shadow 0.1s;
}
    .block.select{
        background-color: #89ace7;
    }

    .block input[type='file']{
        display: none;
    }
    .block .resize{
        position: absolute;
        top: 0px;
        width: 5px;
        height: 46px;
        cursor: w-resize;
    }
        .block .resize.left{
            left: 0px;
        }
        .block .resize.right{
            right: 0px;
        }

.block.audio{
    background-color: #d1ffdf;
}
    .block.audio.select{
        background-color: #89e799;
        color: #253035;
    }
        

    

    