.timeline{
    width: 20000px;
    height: 380px;
    position: relative;
    display: flex;
    flex-direction: column;
   
}
    .wrapper{
        height: 190px;
        overflow-y: scroll;
    }
    .wrapper+.wrapper{
        border-top: 1px solid #bbb;
    }
        .timeline-video{
            position: relative;
            height: 480px;
            background : linear-gradient(#666 1px, transparent 1px) 0% 0% / 48px 48px repeat;
        }
        .timeline-audio{
            position: relative;
            height: 240px;
            background : linear-gradient(#666 1px, transparent 1px) 0% 0% / 48px 48px repeat;
        }

        .wrapper::-webkit-scrollbar{
            width: 20px;
        }
        .wrapper::-webkit-scrollbar-thumb{
            background: #aaa;
        }
        .wrapper::-webkit-scrollbar-track{
            background: rgb(45, 52, 61)
        }
