.header{
    min-height: 40px;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: rgb(70, 80, 90);
}
    .header .logo{
        width: 100px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: white;
    }

.main{
    display: flex;
    flex-direction: column;

    width: 100%;
    flex-grow: 1;
}
    .visual-container{
        display: flex;

        flex-grow: 1;
    }
        .visual-container .media{
            flex-grow: 1;

            display: flex;
            flex-direction: column;

        }
            .visual-container .media .viewport-wrapper{
                flex-grow: 1;
                background: black;
                z-index: 1;

                display: flex;
                justify-content: center;
                align-items: center;
            }
           
            .visual-container .media .controls-wrapper{
                height: 28px;
                background: rgb(70, 80, 90);
            }

        .visual-container .effect-menu-wrapper{
            width: 280px;
            background: rgb(60, 70, 85);
            box-shadow: inset 0 0 4px #fff;
        }
    
   
    .timeline-editor{
        display: flex;
    }
        .editor-wrapper{
            min-width: 120px;
            background: rgb(45, 52, 61);

            display: flex;
            flex-direction: column;
            border-right: 1px solid #888;
        }
            .editor-wrapper .button-container {
                height: 30px;
                border-bottom: 1px solid #555;
                display: flex;
                justify-content: center;
                align-items: center;
            }
                .editor-wrapper .button-container button{
                    width: 32px;
                    height: 24px;
                    background: rgb(45, 52, 61);
                    color : #eee;
                    border-radius: 4px;
                    transition: 0.15s;
                }
                .editor-wrapper .button-container button+button{
                    margin-left:8px;
                }
                .editor-wrapper .button-container button:hover{
                    background: #eee;
                    color: rgb(45, 52, 61);
                }

            .editor-wrapper .area-info{
                flex-grow: 1;

                display: flex;
                flex-direction: column;
            }
                .editor-wrapper .area-info>div{
                    flex-grow: 1;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;          
                    color: #eee;
                }
                .editor-wrapper .area-info>div+div{
                    border-top: 1px solid #bbb;
                }

            .scale-slider{
                height: 20px;
                border-top: 1px solid #555;
            }

        .timeline-wrapper{  
            flex-grow: 1;
            background:rgb(45, 52, 61);
            white-space: nowrap;
            overflow-x: scroll;
            position: relative;
        }
            .timeline-wrapper .time-mover{
                width: 20000px;
                background: #5c5d5d;
                height: 30px;
            }
            .timeline-wrapper .timemarker{
                z-index: 1;
                position: absolute;
                display: inline-block;
                left: -8.5px;
                width: 9px;
                height: 380px;
                background: linear-gradient(90deg, transparent 7px, #f00 8px, #f00 9px, transparent 9px) 0% 0% / 16px 16px repeat-y;
            }
            .timeline-wrapper::-webkit-scrollbar{
                height: 20px;
            }
            .timeline-wrapper::-webkit-scrollbar-thumb{
                background: #aaa;
            }
            .timeline-wrapper::-webkit-scrollbar-track{
                background: rgb(30, 40, 50)
            }